---
name: Ansible lint

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  ansible-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13

      - name: Install dependencies
        run: |
          pip install ansible ansible-lint

      - name: Install Ansible collections
        run: |
          ansible-galaxy collection install git+https://github.com/Giftpilz0/ansible-collection-general.git
          ansible-galaxy collection install git+https://github.com/Giftpilz0/ansible-collection-desktop.git
          ansible-galaxy collection install git+https://github.com/Giftpilz0/ansible-collection-server.git

      - name: Lint playbook
        run: |
          ansible-lint
